sphinx
sphinx-rtd-theme
sphinx-autoapi
nbsphinx
ipython
jupytext
jupyter
matplotlib
numpy
pytables
astropy
jax
jaxlib
jaxopt
optax
corner
arviz
numpyro
interpax
fsps
dsps
diffstar
diffmah
astro-sedpy
seaborn
astropy
tables
h5py
